// Place all the styles related to the adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
img {
  max-width: 200px;
  height: auto;
}
table {
  border-collapse: collapse;
}
tr:nth-child(even) {
  background: #efefef;
}
th {
  background: #333;
  color: #fff;
  border-bottom: 1px solid #555;
  position: sticky;
  top: 0;
}
th, td {
  padding: 1em !important;
  vertical-align: top;
  text-align: left;
}
td:nth-child(2) {
  max-width: 28em;
}
.crud-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
}
