// Place all the styles related to the adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
img {
  width: 280px;
  height: auto;
}
table {
  border-collapse: collapse;
  min-width: 100%;
}
tr:nth-child(even) {
  background: #efefef;
}
th {
  background: #333;
  color: #fff;
  border-bottom: 1px solid #555;
  position: sticky;
  top: 0;
}
th, td {
  padding: 1em !important;
  vertical-align: top;
  text-align: left;
}
th:nth-child(1), td:nth-child(1) {
  width: 80px;
}
th:nth-child(2), td:nth-child(2) {
  width: 28em;
  min-width: 300px;
  max-width: 34em;
}
th:nth-child(3), td:nth-child(3) {
  width: 280px;
}
th:nth-child(4), td:nth-child(4) {
  width: 200px;
}
th:nth-child(5), td:nth-child(5) {
  width: 100px;
}
.crud-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
}
